#global-parameters-container > div {
    margin: 0 0 15px 0;
    color: white
}

footer .main-button {
    margin: 0;
}

#global-parameters-container .not-selected, 
#global-parameters-container .current {
    color: #252525;
}