#random-character-elimination-mode .element-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#random-character-elimination-mode {
    margin: 0 0 25px 0; 
}

#random-character-elimination-mode .not-selected {
    margin: 0; 
}

#random-character-elimination-mode h3 {
    margin: 15px 0; 
    text-align: center;
}


#random-character-elimination-mode .element-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0 0 15px 0;
}

#random-character-elimination-mode .element {
    padding: 5px;
}

#random-character-elimination-mode .element-grid img {
    width: 80px;
}

.player-indicators {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0 0 15px 0;
}

.player-indicator {
    padding: 5px 15px;
    color: white
}

.player-indicator.yellow,
.not-selected.gray.yellow {
    background-color: #ffe038d9; /* ton jaune choisi 💛 */
}

.player-indicator.red,
.not-selected.gray.red {
    background-color: #ff3b3bd9; /* rouge vif cerise 🍒 */
}

.player-indicator.blue,
.not-selected.gray.blue {
    background-color: #3b6effd9; /* bleu royal 💙 */
}

.player-indicator.green,
.not-selected.gray.green {
    background-color: #38d66bd9; /* vert bambou 🍃 */
}

.player-indicator.orange,
.not-selected.gray.orange {
    background-color: #ff993bd9; /* orange mandarine 🍊 */
}

.player-indicator.cyan,
.not-selected.gray.cyan {
    background-color: #3bd6ffd9; /* bleu lagon 🏝️ */
}

.player-indicator.pink,
.not-selected.gray.pink {
    background-color: #ff3b9bd9; /* rose framboise 💖 */
}

.player-indicator.violet,
.not-selected.gray.violet {
    background-color: #a03bffd9; /* violet orchidée 💜 */
}

.not-selected.gray{
    background-color: #252525d9;
}